<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Growl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProxyApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProxyAppXPC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5791619D14D13EE900786962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>579161BE14D13EEA00786962</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57A43A0F156940640005C6A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B3E20A1564E11A0060457B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
